* {
  background-color: #14120b;
  color: #edecec;
  padding-inline: 20px;
   font-family:
    "CursorGothic",
    "CursorGothic Fallback",
    system-ui,
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
}
@font-face {
  font-family: CursorGothic;
  src: url("./fonts/CursorGothic-Regular.woff2") format("woff2");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
:root {
  --btn-background-color: #edecec;
  --text-color: #14120b;
}
.head-container {
  display: flex;
  justify-content: space-between;
  margin-inline: auto;
}
.navigations {
  display: flex;
  gap: 2em;
}
.sign-in {
  border: 1px solid color-mix(in oklab, #edecec 20%, transparent);
  background-color: transparent;
  padding: 5px 10px 5px 10px;
  border-radius: 2rem;
}
.download {
  background-color: var(--btn-background-color);
  color: var(--text-color);
  padding: 5px 10px;
  border-radius: 20px;
  border: none;
}
.main-heading {
  font-size: 1.625rem;
  font-weight: 400;
 
}
.download-for-windows {
  background-color: var(--btn-background-color);
  color: var(--text-color);
  font-weight: 400;
  cursor: pointer;
  font-size: 1rem;
  padding: 12.48px 21.6px;
  border-radius: 3.40282e38px;
  border: var(--btn-background-color);
}
.download-logo {
  background-color: transparent;
}
.terminal-info {
  padding-block-start: 112px;
  padding-bottom: 67.2px;
  padding-left: 20px;
  padding-right: 20px;
}

.reviews-container {
  display: flex;
  flex-direction: column;
  font-size: 2.25rem;
}
.reviews-heading {
  text-align: center;
}
.reviews-main {
  /* display: flex;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(3,minmax(0,1fr));
}
.reviews {
  width: 100%;
  font-size: 1rem;
}
.reviews-user{
    display: flex;
   margin-top:  2.8rem;
}